@tailwind base;
@tailwind components;
@tailwind utilities;


.google-translate-select-dropdown {
    @apply min-w-[240px] py-3 w-full !justify-between cursor-pointer rounded-lg border text-left;
}

.google-translate-select-dropdown__menu {
    width: 100%;
}

.google-translate-select-dropdown__menu {
    bottom: 100%;
    top: unset !important;
}

.drop-shadow-lg {
    filter: none !important;
}

.bodyTextSize {
    @apply md:text-[20px] text-[15px]
}

.customLi li {
    position: relative;
}

button {
    &:disabled {
        opacity: .4;
        pointer-events: none;
        @apply bg-gray-300;
    }
}

a[disabled='true'] {
    opacity: .4;
    pointer-events: none;
    @apply bg-gray-300;
}

.customLi li::after {
    width: 6px;
    height: 6px;
    position: absolute;
    left: 0;
    top: 9px;
    content: " ";
    background: black;
    border-radius: 50%;
}

.container {
    max-width: 1400px;
}

@media screen and (min-width:1024px) {
    .container {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

@media screen and (max-width:768px) {
    .container {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }

    p.text-mob,
    span.text-mob,
    .text-mob {
        font-size: 16px !important;
    }

    .section-size {
        font-size: 24px !important;
    }

    .section-size1,
    h6.section-size1 {
        font-size: 26px !important;
    }

    h4.section-size2,
    h6.section-size2,
    p.section-size2,
    h5.section-size2 {
        font-size: 22px !important;
    }
}

@font-face {
    font-family: "Inter";
    src: url(/fonts/Inter-Thin.ttf) format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url(/fonts/Inter-ExtraLight.ttf) format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url(/fonts/Inter-Light.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url(/fonts/Inter-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url(/fonts/Inter-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url(/fonts/Inter-SemiBold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url(/fonts/Inter-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url(/fonts/Inter-ExtraBold.ttf) format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url(/fonts/Inter-Black.ttf) format("truetype");
    font-weight: 900;
    font-style: normal;
}

@layer base {
    * {
        @apply font-inter;
    }

    html {
        scroll-behavior: smooth;
        overflow-wrap: break-word;
        
    }

    .text-tiny {
        font-size: clamp(12px, 1.8vw, 18px) !important;
    }
}

.title {
    @apply text-[25px] md:text-[52px] font-bold
}

.text-title {
    @apply text-[25px] md:text-[28px];
}

select {
    @apply border-borderColor
}

.text-xl {}

@media screen and (max-width:768px) {
    h5.text-xl {
        font-size: 28px !important;
        line-height: 38px !important;

    }
}

.page-enter-active {
    transition: all 0.2s ease-out;
}

.page-leave-active {
    transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}

.page-enter-from,
.page-leave-to {
    opacity: 0;
}


.layout-enter-active {
    transition: all 0.2s ease-out;
}

.layout-leave-active {
    transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}

.layout-enter-from,
.layout-leave-to {
    transform: translateY(-20px);
    opacity: 0;
}